# Django environments:

SECRET_KEY=django-insecure-@5(x_6kcbt8l=ft_j%+$*29c#&5sk&k1raa%s-1uox6fuc0ooe
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, 0.0.0.0, localhost

# Postgres environments:

POSTGRES_DB=creating_and_editing_a_resume_db
POSTGRES_USER=creating_and_editing_a_resume_user
POSTGRES_PASSWORD=creating_and_editing_a_resume_password
DB_NAME=creating_and_editing_a_resume
DB_HOST=creating_and_editing_a_resume_db
DB_PORT=5432
